@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.4em;
  line-height: 1.1;
}

h3 {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 1.8em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


.btn {
  @apply cursor-pointer flex items-center justify-center text-center rounded-full p-2 duration-300 hover:bg-[#ffffff20]
}

.menu {
  /* Middle position of close menu button */
  --btn-x: calc(50% + 280px);
  --btn-y: 48px;

  @apply absolute right-0 top-0 h-screen w-screen origin-top-right bg-purple-900 duration-700;
  clip-path: circle(0% at var(--btn-x) var(--btn-y));

  &.show {
    clip-path: circle(150% at var(--btn-x) var(--btn-y));
  }
}
